body{
    /*
    background: #3F94EE;*/
    background:white;
}

.header{
    font-size:6em;
    font-family: 'Pacifico', cursive;
    color: black;
}

.result-content{
    text-align:center;
}

.result-table{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background: #EBEBEB;
    border: 1px darkgray solid;
}

.result-table .tr{

}

.result-table .td{

}

.mugshot, .name, .county-state, .book-date, .charges{
    text-align:center;
    font-size:1em;
}

.mugshot{
    width:10em;
    height:10em;
    border: 2px darkgray solid;
}

.charges{
    color: red;
}

.county-state{
    font-weight:bold;
}

.arrows{
    text-align:center;
}

.arrow-text-left, .arrow-text-right{
    font-size:3em;
    font-family: 'Pacifico', cursive;
}

.arrow-text-right{
    margin-left:1em;
}

.arrow-text-left{
    margin-right:1em;
}

img.opacity {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 1s linear;
}

img.opacity:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s linear;
}